.products {
    //background-image: url('../img/products-background.jpg');


    &__card {
        text-align: center;

        h5 {
            font-size: 1.25rem;
        }
    }

}

.carta {
    margin: 30px;
    height: 100px;
    width: 100px;
    background-color: yellowgreen;
}